@import "../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import '../key-frames.scss';

.ia-home-page {
    &__banner {
        overflow: hidden;
        height: 800px;
        background-image: url("../../Images/banner.webp");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            padding: 20px 20px;
            color: $color-text-neutral-2 !important;
            text-align: justify;
            gap: 10px;
            letter-spacing: 2px;

            .title {
                white-space: pre;
                font-family: "Bebas Neue", sans-serif;
                font-size: 64px;
                animation: fadeIn ease-in-out .5s forwards;
            }
            p {
                max-width: 400px;
                background-color: black;
                padding: 20px;
                border-radius: 5px;
                animation: fadeIn ease-in-out .5s forwards;
            }
        }

        .btn-show-more {
            transition: 0.7s;
            animation: fadeIn ease-in-out .5s forwards;

            &:hover {
                background-color: rgb(61, 61, 61) !important;
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: $color-text-neutral-2;

        &-row {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $color-border;
            padding: 20px 0;
            margin-top: 40px;

            &-left-side {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: flex-end;
                padding-right: 20px;
                max-width: 50%;
            }

            &-right-side {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding-left: 20px;
                max-width: 50%;
            }

            img {
                width: 100%;
                height: auto;
                max-width: 200px;
                border-radius: 50%;
                transition: 0.5s;
                filter: grayscale(100%);
                opacity: 0;
                animation: fadeIn 1s ease-in-out forwards;
            }

            img:hover {
                transform: scale3d(1.1, 1.1, 1.1);
                filter: grayscale(0);
            }
        }
    }
}
