$color-text-neutral-1: black;
$color-text-neutral-2: #fff;
$color-site-primary: #037bfc;
$color-site-primary-hover: #0069d9;
$color-border: #e6e6e6;

//MenuColors

$color-menu-item-hover: #999999;

//Comments

$color-comment-background: #f2f2f2;